.boxes {
    width: 300px;
    border: 10px;
    padding: 10px;
    margin: 0;
}
  
.accordion {
    width: 100%;
  
    max-width: 360px;
  
    margin: 30px auto 20px;
  
    background: rgb(36, 142, 190);
  
    -webkit-border-radius: 4px;
  
    -moz-border-radius: 4px;
  
    border-radius: 4px;
}
  
.accordion .link {
    cursor: pointer;
  
    display: block;
  
    padding: 15px 15px 15px 42px;
  
    color: #000000;
  
    font-size: 14px;
  
    font-weight: 700;
  
    border-bottom: 1px solid rgb(116, 111, 111);
  
    position: relative;
  
    -webkit-transition: all 0.4s ease;
  
    -o-transition: all 0.4s ease;
  
    transition: all 0.4s ease;
}
  
.accordion li:last-child .link {
    border-bottom: 0;
}
  
.accordion li i {
    position: absolute;
  
    top: 16px;
  
    left: 12px;
  
    font-size: 18px;
  
    color: #000000;
  
    -webkit-transition: all 0.4s ease;
  
    -o-transition: all 0.4s ease;
  
    transition: all 0.4s ease;
}
  
.accordion li.open .link {
    color: #363535;
}
  
.accordion li.open i {
    color: #b63b4d;
}
  
.submenu {
    display: none;
  
    background: #90af3a;
  
    font-size: 14px;
}
  
.submenu li {
    border-bottom: 1px solid #000000;
}
  
.submenu a {
    display: block;
  
    text-decoration: none;
  
    color: #000000;
  
    padding: 12px;
  
    padding-left: 42px;
  
    -webkit-transition: all 0.25s ease;
  
    -o-transition: all 0.25s ease;
  
    transition: all 0.25s ease;
}
  
.submenu a:hover {
    background: #b63b4d;
  
    color: #fff;
}
  
.accordion:hover .submenu {
    display: block;
}